/* Обводка */
/* * {
    outline: 2px solid lightblue;
} */
/* Обводка */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
html,
body {
  min-width: 1440px;
  min-height: 2476px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: block;
  width: 240px;
  padding: 15px 0;
  font: inherit;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button:hover,
.buton:focus {
  background-color: #e74246;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  -webkit-box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.wrapper-header {
  background-color: #eeeeee;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 800px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  color: #000000;
}

.main-logo {
  width: 160px;
  height: 65px;
}

.main-logo:hover {
  opacity: 0.8;
}

.main-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-navigation {
  width: 440px;
}

.site-navigation .item {
  position: relative;
  margin-right: 20px;
  width: 100px;
  text-align: center;
}

.site-navigation .item:nth-child(4n+1) {
  margin-right: 0;
  text-align: left;
}

.site-navigation .item:nth-child(4n){
  margin-right: 0;
  text-align: right;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 160px;
}

.user-navigation .item {
  position: relative;
  padding-left: 50px;
}

.cart-icon {
  position: absolute;
  top: 31px;
  left: 10px;
  width: 15px;
  height: 15px;
  fill: #a6a6a6;
}

.main-navigation a {
  display: block;
  padding-top: 28px;
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.item-current::after {
  content: "";
  position: absolute;
  left: 13%;
  right: 12%;
  bottom: 3px;
  width: 75%;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation .item:nth-child(4n+1)::after {
  left: 0;
  right: 25%;
  width: 75%;
}

.site-navigation .item:nth-child(4n)::after,
.user-navigation .item-current::after {
  left: 10%;
  right: 0;
  width: 90%;
}

.wrapper-sliders {
  background-color: #eeeeee;
}

.sliders {
  position: relative;
}

.sliders-list,
.switch-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sliders-inner {
  overflow: hidden;
}

.sliders-list {
  width: 300%;
  display: flex;
  transition: transform 0.8s ease;
}

.sliders-item {
  width: 100%;
  padding-top: 80px;
  padding-bottom: 58px;
}

.sliders-item:first-child {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 430px 18px;
}

.sliders-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 495px 2px;
}

.sliders-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 400px 25px;
}

#btn-1:checked ~ .sliders-inner .sliders-list {
  transform: translate(0);
}

#btn-2:checked ~ .sliders-inner .sliders-list {
  transform: translate(-1160px);
}

#btn-3:checked ~ .sliders-inner .sliders-list {
  transform: translate(-2320px);
}

.sliders-list .title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
}

.sliders-list .description {
  max-width: 400px;
  margin: 0;
  margin-bottom: 40px;
}

.slider-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  left: 50%;
  bottom: 105px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  z-index: 1;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin: 9px;
}

input[type="radio"] {
  display: none;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"]::before,
#btn-2:checked ~ .slider-controls label[for="btn-2"]::before,
#btn-3:checked ~ .slider-controls label[for="btn-3"]::before
 {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 8px;
  height: 8px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

#btn-1:focus ~ .slider-controls label[for="btn-1"],
#btn-2:focus ~ .slider-controls label[for="btn-2"],
#btn-3:focus ~ .slider-controls label[for="btn-3"] {
  outline: thin solid rgba(66, 134, 244, 0.6);
}

.offers-list,
.content,
.clients-list {
  border-bottom: 2px solid #eeeeee;
}

.offers {
  padding-top: 80px;
}

.offers-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-bottom: 80px;
  list-style: none;
}

.offers-list .item {
  margin-right: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.offers-list .item:first-child {
  background-image: url("../img/illustration-1.png");
}

.offers-list .item:nth-child(2n) {
  background-image: url("../img/illustration-2.png");
}

.offers-list .item:nth-child(3n) {
  margin-right: 60px;
  background-image: url("../img/illustration-3.png");
}

.offers-list .title {
  margin: 0;
  margin-bottom: 18px;
  padding-top: 170px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.offers-list .description {
  margin: 0;
  margin-bottom: 33px;
  width: 260px;
}

.offers .button {
  width: 160px;
}

.button-app {
  background-color: #00ca74;
}

.button-app:hover,
.buton-app:focus {
  background-color: #00bc6c;
}

.button-app:active {
  background-color: #00aa62;
}

.button-presentation {
  background-color: #efc84a;
}

.button-presentation:hover,
.buton-presentation:focus {
  background-color: #eab534;
}

.button-presentation:active {
  background-color: #e5a722;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 72px;
}

.left-column {
  width: 660px;
}

.right-column {
  width: 360px;
}

.lead {
  margin: 0;
  padding-top: 75px;
  margin-bottom: 35px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.about-us .description {
  margin: 0;
  margin-bottom: 40px;
}

.list-title {
  margin: 0;
  margin-bottom: 22px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.about-us-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.about-us-list .item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 37px;
}

.about-us-list .item:last-child {
  margin-bottom: 0;
}

.about-us-list .item::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  border-radius: 50%;
}

.slogan {
  margin: 0;
  margin-bottom: 55px;
  padding-top: 285px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  background-image: url("../img/nerds-illustration.png");
  background-repeat: no-repeat;
  background-position: 100% 42px;
}

.percent td {
  padding-bottom: 35px;
  width: 120px;
  font-size: 45px;
  line-height: 10px;
  font-weight: 700;
  color: #000000;
}

.index {
  font-size: 27px;
  margin-top: 10px;
}

.value td {
  line-height: 18px;
}

.clients-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 48px;
  padding-bottom: 42px;
  list-style: none;
}

.clients-list .item {
  position: relative;
  width: 260px;
  text-align: center;
  opacity: 0.2;
}

.border-item::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -21px;
  width: 2px;
  height: 52px;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
}

.border-item:nth-child(2)::after {
  top: 16px;
}

.border-item:nth-child(3)::after {
  top: -2px;
}

.clients-list img {
  vertical-align: middle;
}

.clients-list .item:hover,
.clients-list .item:focus {
  opacity: 1;
}

.clients-list .item:active {
  opacity: 0.1;
}

.logo-1 {
  width: 199px;
  height: 68px;
}

.logo-2 {
  width: 209px;
  height: 90px;
}

.logo-3 {
  width: 185px;
  height: 52px;
}

.logo-4 {
  width: 173px;
  height: 84px;
}

.main-footer {
  margin-top: 80px;
}

.inner-page .main-footer {
  margin-top: 60px;
}

.contacts {
  position: relative;
}

.contacts-info{
  position: absolute;
  top: 55px;
  left: 20px;
  z-index: 3;
  padding: 48px 50px;
  width: 320px;
  background-color: #ffffff;
}

.contacts .title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.adress,
.phone {
  margin: 0;
  line-height: 18px;
}

.adress {
  margin-bottom: 18px;
}

.phone {
  margin-bottom: 38px;
}

.map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  vertical-align: bottom;
}

.map {
  position: relative;
  height: 415px;
}

.map iframe {
  position: absolute;
  z-index: 2;
  border: none;
}

.contacts .button {
  width: 220px;
}

.footer-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 260px;
  margin-right: 140px;
  list-style: none;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.bonus {
  padding-top: 5px;
  width: 560px;
}

.bonus .title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.bonus .description {
  margin: 0;
  line-height: 22px;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal {
  display: none;
  position: fixed;
  bottom: 180px;
  left: 50%;
  z-index: 5;
  margin-left: -480px;
  padding: 70px 100px 80px;
  width: 960px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
          box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75);
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.4s;
          animation: bounce 0.4s;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 80px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: 0;
  cursor: pointer;
  background-color: #ffffff;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  width: 21px;
  height: 3px;
  background-color: #fb565a;
  opacity: 0.3;
}

.modal-close::before {
  -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
         transform: rotate(45deg);
}

.modal-close::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.modal-close:hover::before,
.modal-close:hover::after {
  opacity: 1;
}

.modal-close:active::before,
.modal-close:active::after {
  opacity: 0.1;
}

.modal .title {
  margin: 0;
  margin-bottom: 45px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  color: #000000;
}

.modal-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 35px;
}

.modal-item {
  width: 360px;
}

.modal label {
  display: block;
  margin-bottom: 10px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
}

.modal-text {
  width: 760px;
}

.modal input,
.modal textarea {
  padding: 10px 15px;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: 2px solid #d7dcde;
  color: #444444;
  opacity: 0.5;
}

.modal-text textarea {
  min-height: 115px;
}

.modal-text {
  margin-bottom: 45px;
}

.modal input:hover,
.modal textarea:hover {
  border-color: #b4b9bb;
}

.modal input:focus,
.modal textarea:focus {
  opacity: 1;
  border-color: #000000;
}

.modal input:invalid,
.modal textarea:invalid {
  color: #e74246;
  border-color: #e74246;
}

.wrapper {
  background-color: #eeeeee;
}

.main-title {
  margin: 0;
  padding-top: 80px;
  padding-bottom: 109px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000000;
  text-align: center;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.filter-form {
  padding-top: 53px;
  width: 260px;
}

.value,
.layout,
.features {
  margin: 0;
  padding: 0;
  border: none;
}

.value {
  margin-bottom: 55px;
}

.filter-title {
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.value .filter-title {
  margin-bottom: 49px;
}

.range-controls {
  position: relative;
  margin-bottom: 15px;
  padding: 39px 20px;
  width: 260px;
  height: 80px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.scale {
  height: 2px;
  background-color: #d7dcde;
}

.bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.toggle {
  position: absolute;
  top: 31px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 160px;
}

.price-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  margin-left: 10px;
  width: 80px;
  padding: 6px 10px;
  text-align: center;
  font: inherit;
  color: #283136;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
}

.max-price {
  text-align: right;
}

.filter-list {
  margin: 0;
  padding: 0;
  padding-left: 37px;
  list-style: none;
}

.layout {
  margin-bottom: 46px;
}

.layout .filter-title,
.features .filter-title {
  margin-bottom: 18px;
}

.filter-list .item {
  margin-bottom: 19px;
}

.filter-list .item:last-child {
  margin-bottom: 0;
}

.filter-list label {
  position: relative;
  display: block;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-list label:hover,
.filter-list label:focus {
  color: #000000;
}

.filter-list label:disabled {
  opacity: 0.3;
}

.radio-input + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: -4px;
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.radio-input:checked + label::after {
  content: "";
  position: absolute;
  left: -28px;
  top: 4px;
  width: 9px;
  height: 9px;
  background-color: #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.checkbox-input:checked + label::before {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  left: -36px;
  top: -2px;
  width: 27px;
  height: 23px;
  opacity: 0.4;
}

.checkbox-input:not(:checked) + label::before {
  content: url("../img/checkbox-off.svg");
  position: absolute;
  left: -36px;
  top: -2px;
  width: 23px;
  height: 23px;
  opacity: 0.4;
}

.radio-input + label:hover::before,
.radio-input:checked + label:hover::after,
.checkbox-input:checked + label:hover::before,
.checkbox-input:not(:checked) + label:hover::before,
.radio-input + label:focus::before,
.radio-input:checked + label:focus::after,
.checkbox-input:checked + label:focus::before,
.checkbox-input:not(:checked) + label:focus::before {
  opacity: 1;
}

.radio-input:disabled + label::before,
.radio-input:checked:disabled + label::after,
.checkbox-input:checked:disabled + label::before,
.checkbox-input:not(:checked):disabled + label::before {
  opacity: 0.3;
  cursor: default;
}

.filter-input:disabled + label {
  color: #283136;
  opacity: 0.3;
  cursor: default;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #000000;
}

.filter-input:focus + label::before {
  outline: thin solid;
  outline: 3px auto -webkit-focus-ring-color;
  opacity: 1;
}

.features {
  margin-bottom: 52px;
}

.filter-form .button,
.next-page {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
}

.filter-form .button:hover,
.next-page:hover,
.filter-form .button:focus,
.next-page:focus {
  background-color: #dfdfdf;
}

.filter-form .button:active,
.next-page:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
         box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.catalog-wrapper {
  margin-top: 50px;
  width: 760px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 90px;
}

.sort .filter-title {
  width: 160px;
  margin-right: 240px;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-right: 50px;
  padding: 0;
  width: 270px;
  font-size: 14px;
  line-height: 18px;
  list-style: none;
  text-transform: uppercase;
}

.changer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40px;
  height: 20px;
}

.changer {
  width: 0;
  height: 0;
  border-left: 5px solid  transparent;
  border-right: 5px solid transparent;
  opacity: 0.2;
}

.changer-up {
  border-top: 10px solid #a6a6a6;
}

.changer-down {
  border-bottom: 10px solid #a6a6a6;
}

.changer-current {
  border-top-color: #000000;
  border-bottom-color: #000000;
  opacity: 1;
}

.changer:hover,
.changer:focus {
  opacity: 1;
}

.changer:active {
  border-top-color: #000000;
  border-bottom-color: #000000;
}

.sort-list a {
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
}

.sort-list a:hover,
.sort-list a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:active {
  color: #000000;
}

.item-current a,
.item-current a:hover,
.item-current a:active,
.item-current a:link {
    color: #000000;
    cursor: default;
  }

  .current-item a,
  .current-item a:hover,
  .current-item a:active,
  .current-item a:link {
      color: #000000;
      cursor: default;
    }

.catalog-list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  list-style: none;
}

.catalog-list > .item {
  position: relative;
  z-index: 1;
  margin-right: 40px;
  margin-bottom: 66px;
  width: 360px;
}

.catalog-list .item:nth-child(even) {
  margin-right: 0;
}

.catalog-list > .item:last-child,
.catalog-list > .item:nth-last-child(2) {
  margin-bottom: 0;
}

.catalog-list .item:hover {
  -webkit-box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
          box-shadow: 0 6px 15px rgba(0, 1, 1, 0.25);
}

.catalog-cart {
  width: 360px;
  height: 576px;
  margin: 0;
}

.catalog-list > .item::before {
  content: url("../img/border.svg");
  position: absolute;
  top: -40px;
  left: 0;
  width: 360px;
  height: 40px;
  opacity: 0.12;
}

.catalog-list > .item:hover::before {
  opacity: 1;
}

.popup {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  padding: 25px 60px 50px;
  width: 360px;
  text-align: center;
  background-color: #eeeeee;
}

.popup .title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.popup a {
  font: inherit;
  color: inherit;
}

.popup .description {
  margin: 0;
  margin-bottom: 33px;
  line-height: 18px;
}

.popup .button {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-list .item:hover .popup {
  display: block;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-list .item {
  margin-right: 10px;
  width: 50px;
}

.pagination-list a {
  display: block;
  padding: 13px 20px;
  color: #000000;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination-list a:hover,
.pagination-list a:focus {
  background-color: #dfdfdf;
}

.pagination-list a:active {
  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
          box-shadow: inset 0 3px rgba(0, 1, 1, 0.1);
}

.pagination .current-item {
  background-color: #ffffff;
  -webkit-box-shadow: inset 3px 3px #dbdbdb,
  inset -3px -3px #dbdbdb;
          box-shadow: inset 3px 3px #dbdbdb,
  inset -3px -3px #dbdbdb;
}

.next-page {
  width: 265px;
  padding: 15px 0;
  text-align: center;
  background-color: #eeeeee;
}
